<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
      
      <!-- 在本窗口打开另一个资源 -->
      <a href="http://www.crazyit.org"><b>疯狂java联盟</b></a><br />
      <!-- 在新窗口打开另一个资源 -->
      <a href="http://www.crazyit.org"
                target="_blank"><em>疯狂java联盟</em></a><br />
       <!-- 为图像增加超链接 -->
       <a href="http://www.crazyit.org"><img alt="疯狂java联盟" src="../images/logo.jpg"></a><br /> 	      
       <!-- 基于相对路径指定另一个资源 -->
       <a href="text.html">文本格式化标签</a><br />  	
</body>
</html>