<!DOCTYPE html>
<html>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>语义相关元素</title>
</head>
<body>
   <!--使用q表示一段短的引用文本 -->
   <p>疯狂java的精神是<q cite="http://www/fkjava.org">疯狂来自梦想,技术成就辉煌</q>这也是所有疯狂java程序员的精神.</p>
   <div>
      <!--使用blockquote表示一段长的引用文本 -->
      <blockquote>
                萧瑟无端五十弦,一弦一柱思华年.<br>
                庄周晓梦梦蝴蝶,望帝春心托杜鹃.<br>
                对酒当歌,人生几何.<br>
                譬如朝露,去日苦多.
      </blockquote>
      这是两首诗,不是一首诗.
   </div>
   <p>
    <cite>《芙蓉镇》<cite>、
    <cite>《蓝风筝》</cite> 
    是国内导演拍摄的最有思考深度的两部电影
   </p>
   <p>
    下面代码定义一个java类: <br>
      <code>
            public class Cat<br>
            {  <br>
                private int name = "garfield";<br>
            }  <br>
      </code>
   </p>

   <!--pre元素包含的内容是"预格式化"文本 -->
   <pre>
       public class Cat
       {
           private int name = "garfield";
       }
   </pre>

   <p>
       <!-- 使用abbr定义缩写 -->
       疯狂java教育中心的缩写是<addr title="疯狂java教育">fkjava</addr>
       <!-- 使用address定义地址 -->
       疯狂软件地址是<address>广州市天河区车陂大岗路4号沣宏大厦3006-3011</address>
       <!-- 使用dfn定义专业术语-->
       <p><dfn>HTML</dfn></p>
   </p>   

   <p>
      可通过如下命令: <br/>
      <kbd>list -l</kbd> <br/>
       在linux的shell窗口查看当前目录下所有文件 目录详情
   </p>

   <p>
       如果你在阅读疯狂java <br/>
       www.fkjava.org发帖提问 <br/>

       <!--使用samp定义示范文本内容 -->
       <samp>
              我在阅读xxx图书的第x章 第x节时,遇到一个xxx问题, <br/>
              错误提示信息为:xxx
       </samp>
   </p>

   <!-- 使用var定义变量-->
   <var>i</var>、<var>j</var>、<var>k</var>  通常用于作为循环计数器变量
   <!-- 使用del和ins表示修订-->
   <p> Andriod是一个<del>开发<del><ins>开放</ins>式的手机、平板电脑操作系统</p>
</body>
</html>














