<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
        <table style="width:400px" border="1">
                 <tr>
                        <th>书名</th>
                        <th>作者</th>
                 </tr>
                 <tr>
                       <td>疯狂java讲义</td>
                       <td>李刚</td>
                 </tr>
                 <tr>
                        <td>轻量级javaEE</td>
                        <td>李刚</td>
                 </tr>
        </table>
</body>
</html>