<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
             <table border="1" style="width:400px">
                          <caption><b>疯狂java体系图书</b></caption>
                          <thead>
                                   <tr>书名</tr>
                                   <tr>作者</tr>
                          </thead>
                          <tfoot>
                                    <tr>
                                          <td colspan="2" style="text-align:right">现总计:2本图书</td>
                                    </tr>
                          </tfoot>
                          <tbody>
                                     <tr>
                                           <td>疯狂java讲义</td>
                                           <td>李刚</td>
                                     </tr>
                                     <tr>
                                            <td>轻量级javaEE</td>
                                            <td>李刚</td>
                                     </tr>
                          </tbody>
             </table>

</body>
</html>